{% extends "base.html" %}
{% block context %}

<style type="text/css">
	.hidden_fields{
		display:none;
	}
	.addition{
		height: 65px !important;
	}



	#check-calldoc-window{
	display: none;
	
   	position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 320px;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    z-index: 4;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
    padding: 10px;
  }

  .overlay{
    -webkit-transition: top 1s ease-out 0.5s;
     -moz-transition: top 1s ease-out 0.5s;
     -o-transition: top 1s ease-out 0.5s;
     transition: top 1s ease-out 0.5s;
    display: none;
     opacity: 0.7;
    z-index: 3;
    position: fixed;
    background-color: black;
    opacity: ;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
  }
  .x{
  	font-weight: 400;
    border-radius: 5px;
    padding: .375rem .75rem;
  }

</style>


<div class='main-area'>
	<div class='container'>
	<form method = "POST" class = 'call-doc'>


        <div class='form-group row'><h2 class ='col'>Вызов врача на дом</h2></div>

        <div id="email" class="hidden_fields">{{ my_email }}</div>
		<div id="phone" class="hidden_fields">{{ my_phone }}</div>



		<!--<div class="form-group row">
            <div class="col-sm-2 col-form-label">
            Выберите пациента:</div>

		<div class="col">
            	<select class = "form-control" id="select_pacient" onchange="choose_pacient()">
				</select>
			</div>


		</div> -->

		{% csrf_token %}
		{% for field in form.visible_fields %}
		 <!-- убрать одну d in hiddden что скрыть поля  -->
		    {% if field.name  in hidden %}
		    	<div class="hidden_fields">
		    	{{ field.label_tag }}{{ field }}
		    	</div>
		    {% else %}
		    <div class="form-group row">
		        {{ field.errors }}
		        <div class="col-sm-2 col-form-label">{{ field.label_tag }}</div>
		        <div class="col"> {{ field }} </div>
		    </div>
		    {% endif %}
		{% endfor %}


				<button type="submit" class="mbtn btn btn-primary" values="submit" onclick="verificate()">
					Отправить</button>

				</form>

	<div id="check-calldoc-window">
		<div class="text-center">
			 <h4>Вызов врача на дом</h4>
		</div>
		<div class='container'>
			<div id = 'check-calldoc-window-fields'>а</div>		<!--check_fields-->


	        		<button id = "all-right-button" class='btn approve-btn float-left' onclick="send_data()">Все верно</button>
	        		<button id = "cancel-button" class='x btn-danger float-right' onclick = "cancel_verification()">Отмена</button>


		</div>
	</div> <!--check-appointment-window-->
	</div> <!--container-->
</div>

<div class= 'overlay'></div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

		<script type="text/javascript">


		function generate_id(str) {
  			return str.replace(/[xy]/g, function(c) {
    				var r = Math.random() * 16 | 0;
   					 return (c == 'x' ? r : (r & 0x3 | 0x8 )).toString(16);
 					 });
  		}

  		function check_fields(){
  			for(var element in elements_to_check)
  			{
  				if(document.getElementById(element).reportValidity()==false)
  				{
  					return false;
  				}

  				if(check_element_length_greater_than('#'+element)==false)
  				{
  					return false;
  				}
  			}
  			return true;

  		}

		function collect_data(){
			var data_dict = {};

			data_dict.snils = pacients[currentUser]['SNILS'];
			data_dict.id_doc_site = generate_id('xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx');

			data_dict.temperature = document.getElementById('id_temperature').value;
			data_dict.complaint  = document.getElementById('id_complaints').value;
			data_dict.kladr = pacients[currentUser]['adresses'][currentAdress]['KLADR'];
			data_dict.house = pacients[currentUser]['adresses'][currentAdress]['dom'];
			data_dict.room = pacients[currentUser]['adresses'][currentAdress]['kvstr'];
			data_dict.telephone = $('#telephone').val();
			data_dict.addit_inform = document.getElementById('add_inform').value;

			return data_dict;
		}

		function cast_war_fog()
		{
			$('.overlay').css('display', 'block');
		}
		function dispel_war_fog()
		{
			$('.overlay').css('display', 'none');
		}
		function verificate()
		{
			if(check_fields())
			{
				cast_war_fog();
				show_verification({
						'Пациент': $('#pacient option:selected' ).text(),
						'Адрес'  : $('#select_address option:selected').text(),
						'Температура': $('#id_temperature option:selected').text(),
						'Жалобы': $('#id_complaints').val(),
						'Дополнительно': $('#add_inform').val(),
						'Телефон': $('#telephone').val(),
						});
			}
		}
		function cancel_verification()
		{
			$('#check-calldoc-window').css('display', 'none');
			dispel_war_fog();
		}
		function show_verification(dict)

		{
			var wind = $('#check-calldoc-window');
			var container = $('#check-calldoc-window-fields');
			container.empty();

			for(var key in dict)
			{
				var current = $('<div>', {'class': 'row'});
				current.html(
						'<b>' + key + ':</b> &nbsp;<div>'+dict[key]+'</div>'
						);
				container.append(current);
			}

			wind.css('display', 'block');

		}


		function send_data(){
			if(check_fields())
			{
				var data = collect_data();
				console.log(data);
				send_messages('send-calldoc', data);
			}


		}

		function send_messages(url, my_data){

			var token = '{{ csrf_token }}';


			console.log("sending via send_message!") // sanity check
		    $.ajax({
		        url : url, // the endpoint
		        type : "POST", // http method
		        headers: { "X-CSRFToken": token },
		        data:my_data, // data sent with the post request

		        // handle a successful response
		        success : function(msg) {

		        	alert(msg);
		        	$('#id_complaints').val('');
					$('#add_inform').val('');
					$('#telephone').val('');
					$('#id_complaints').removeClass('is-valid');
					$('#telephone').removeClass('is-valid');
					cancel_verification();
		        },

		        // handle a non-successful response
		        error : function(xhr,errmsg,err) {
		        	console.log(JSON.stringify(xhr));
		            alert("Ошибка");

		        }
		    });
		}

		function assign_patients(pacients){
			/*for (var i=0; i<pacients.length; i++)
			{
				var pacient = pacients[i]['FAM']+" " + pacients[i]['NAME']+" " + pacients[i]['OTH']+", Дата Рождения: " + pacients[i]['dater'];
				$('#pacient').append($("<option></option>").text(pacient));
			}*/
		}

		function assign_adresses(index){
			for(var i = 0; i < pacients[index]['adresses'].length; i++){
				var adress = pacients[index]['adresses'][i]['adress'];
				$('#select_address').append($("<option></option>").text(adress));
			}
		}


		function check_element_length_greater_than(element){
			console.log( $(element) );
					console.log( elements_to_check[$(element).attr('id')] );
				  if ($(element).val().length >=elements_to_check[$(element).attr('id')])
					{
						$(element).removeClass('is-invalid');
						$(element).addClass('is-valid');
						return true;
					}
					else
					{
						$(element).removeClass('is-valid');
						$(element).addClass('is-invalid');
						return false;
					}
		}




		var elements_to_check = {
			'id_complaints': 4 ,
			'telephone': 16,
		}




		function remove_adresses(){
			$('#select_address')
			    .find('option')
			    .remove();
		}

		function get_select_index(select){
			return ($(select).prop('selectedIndex'));
		}

		function adressFacade(){
			currentUser = get_select_index('#pacient');
			   remove_adresses();
			   assign_adresses(currentUser);
		}

		var pacients = {{ pacients|safe }};
		var currentUser=0;
		var currentAdress=0;
		window.onload = function(){
			$("#telephone").mask("+0(000)000-00-00", {placeholder: "+7(___)___-__-__"});
			assign_patients(pacients);
			adressFacade();
			$( "#pacient" ).change(function() {
			   adressFacade();
			});
			$( "#select_adress" ).change(function() {
			   currentAdress = get_select_index('#select_adress');
			});

			for(var key in elements_to_check)
			{

				$('#'+key).bind('keyup', function() {
					check_element_length_greater_than(this);
				});

			}

		}



	</script>


{% endblock %}
