{% extends "base.html" %}
{% block context %}

<div class='main-area'>
            
                
                  <form method = "POST" class = 'call-doc'>
                  <div class='form-group row'><h2 class ='col'>Вызов врача на дом</h2></div>
					{% csrf_token %}
					{% for field in form.visible_fields %}
					    <div class="form-group row">
					        {{ field.errors }}
					        <div class="col-sm-2 col-form-label">{{ field.label_tag }}</div> 
					        <div class="col"> {{ field }} </div>
					    </div>
					{% endfor %}

					{% for hidden in form.hidden_fields %}
					{{ hidden }}
					{% endfor %}
					<input type="submit" class="mbtn btn btn-primary" values="submit">
				</form>
            
        </div>
{% endblock %}