{% extends "base.html" %}
{% block context %}

<style type="text/css">
	.hidden_fields{
		display:none;
	}
</style>

<script type="text/javascript">
		function Query(my_method, for_request, name_service, callback)
  {    
    var my_data = {
      name:name_service,
      params:{
        request:JSON.stringify(for_request)
        }
      };
    
      var responce = $.ajax({
        async:false,
        method:my_method,
        url:"http://ibus.dgkb.lan/api/executescript/",
        username: 'root',
        password: 'root',
        headers:{
          'Authorization': 'Basic cm9vdDpyb290',          
          'Content-Type': 'application/json'          
          },  
          // data: "login=leroy&password=password",
        accepts: "application/json",
        contentType:"application/json",
        dataType:"json",
        
        data:JSON.stringify(my_data),  
        success: function(msg){        
         callback(msg);       
        },
        error:function(msg){         
          callback("error");          
        }
    	}).responceText;    
    }

		function generate_id(str) {
  			return str.replace(/[xy]/g, function(c) {
    				var r = Math.random() * 16 | 0;
   					 return (c == 'x' ? r : (r & 0x3 | 0x8 )).toString(16);
 					 });
  		}

		function min_ten(value){
			return (value < 10) ? "0" + value: value;
		}

		function return_date(){
			 var now = new Date();
			   		
			 var str_time =   now.getFullYear()  + "-"
			 		+  min_ten(now.getMonth  ()  + 1)  + "-" 
			 		+  min_ten(now.getDate   ()) + " "
			 		+  min_ten(now.getHours  ()) + ":"
			 		+  min_ten(now.getMinutes());
   			 	
    		 return str_time;
	    }

		function generate_data(){
			var generate_object = {};

			generate_object.datedoc
				=	document.getElementById('date_doc').value 
				=	return_date();

			generate_object.id_doc_site
				=	document.getElementById('id_doc_site').value 
				=   generate_id('xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx');

			//generate_object.ajax_status
			//	=	document.getElementById('ajax_status').value  = "True";

			return generate_object;
		}
		
		function check_fields_call(){	
			return (!document.getElementById('phone'         )       || 
					!document.getElementById('id_complaints' ).value ||
					!document.getElementById('select_address').value || 
				    !document.getElementById('pacient'       ).value) ? false:true;	
		}

		function collection_data_call(){
			var collection_object = {};
					
			collection_object.snils       = document.getElementById("pacient").value;
			collection_object.temperature = document.getElementById("id_temperature").value;
			collection_object.complaint   = document.getElementById("id_complaints").value;
			collection_object.kladr       = document.getElementById("kladr").value;
			collection_object.house       = document.getElementById("house").value;

			var room = document.getElementById("room").value;
			if (room){
				collection_object.room = room;}

			var phone = document.getElementById("phone");
			collection_object.phone = phone.textContent || phone.innerText;

			var email = document.getElementById("email");			
			email = email.textContent || email.innerText;
			if (email){
				collection_object.email = email;}

			var addit_inform = document.getElementById("add_inform").value;
			if (addit_inform){
				collection_object.addit_inform = addit_inform;}
						
			return collection_object;
		}

		function get_snils(){
			var objSel = document.getElementById("pacient").value;
			alert(objSel);
		}

		function read_result(object){
			 result       = $.parseJSON(JSON.stringify(object));
    	     lvl_output   = $.parseJSON(JSON.stringify(result.output));

    	     for (key in lvl_output){
    	     	return lvl_output[key];
    	     }
		}

	    function return_array_call(object){
    	  result       = $.parseJSON(JSON.stringify(object));
     	  lvl_output   = $.parseJSON(JSON.stringify(result.output));  
         
          lvl_calendar = $.parseJSON(lvl_output.AddressList); 
  
          var ar = new Array()

      	  lvl_calendar.forEach(function(item, i, lvl_calendar) {
           ar.push({'adress':item.adress, 'KLADR':item.KLADR,
                       'dom':item.dom   , 'kvstr':item.kvstr});
            //alert(JSON.stringify(ar));
            });

          return ar;
        }

		function send_message(){
			if (!check_fields_call()){
				 alert("Одно из следующих полей не заполнено:телефон, пациент, жалоба");
			}
			else{
				var gen         = generate_data();
				var collec      = collection_data_call();
				var send_object = Object.assign(gen, collec);
				alert(JSON.stringify(send_object));

				var ajax_info = ""; 
    			Query("POST", send_object, "CallDoctorNew", function (info){ 
         		 ajax_info = info;
    		    });

    			if (ajax_info == "error"){
    				document.getElementById('ajax_status').value = false;
    				alert("Мы сохранили ваше сообщение и отправим его кода будет востановленна связь с сервисом");
    			}
    			else{
    				document.getElementById('ajax_status').value = true;//не забыть поменять
    				alert("Сообщене отправленно");
    			}			   
    		}			
		}

		var address_data = [];

		function obj_snils(){
			var obj = document.getElementById("snils");
			var snils = obj.textContent || obj.innerText;
			//тут перекоментировать две последнии строки чтобы использовать реально указанный SNILS
			//return {"snils":snils};
			return {"snils":"179-474-337 23"}
		}


		function request_addresses(){		
			var send_object = obj_snils();
			var ajax_info = "";
    	    Query("POST", send_object, "AddressList", function (info){ 
         		  ajax_info = info;
    		    });

    	    if (ajax_info == "error"){    				
    				alert("Сервис временно недоступен.Попробуйте позже");
    			}
    			else{    				
    				//alert("Получение данных");
    				return return_array_call(ajax_info);
    			}
		}


		function request_pacients(){		
			var send_object = obj_snils();
			var ajax_info = "";
    	    Query("POST", send_object, "PacientList", function (info){ 
         		  ajax_info = info;
    		    });

    	    if (ajax_info == "error"){    				
    				alert("Сервис временно недоступен.Попробуйте позже");
    			}
    			else{    				
    				//alert("Получение данных");
    				// sdelat chtenie dannh
    				return return_array_call(ajax_info);
    			}
		}


		function add_in_select(){
			var objSel = document.getElementById("select_address");

			for (var index = 0; index < address_data.length; ++index) {
   				objSel.options[objSel.options.length] = 
   				new Option(address_data[index].adress, index);
			}			
		}
		
		function choose_address(index){
			document.getElementById('kladr').value = address_data[index].KLADR;
			document.getElementById('house').value = address_data[index].dom  ;
			document.getElementById('room' ).value = address_data[index].kvstr;
			//JSON.stringify(address_data[index]);		
		}

		window.onload = function(){
			address_data = request_addresses();
			if (address_data.length > 0){
				add_in_select();
				choose_address(0);
			}
			else{
				alert("Ваш список адреов пуст. Пожалуйста ормити вызов через диспечерскую службу");
			}
			//alert(JSON.stringify(address_data));
			//alert(typeof address_data);
			
		}
		
				
	</script>


<div class='main-area'>

	<form method = "POST" class = 'call-doc'>

		
        <div class='form-group row'><h2 class ='col'>Вызов врача на дом</h2></div>

        <div id="email" class="hidden_fields">{{ my_email }}</div>
		<div id="phone" class="hidden_fields">{{ my_phone }}</div>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
            Выберите адрес:</div>

            <div class="col"> 
            	<select class = "form-control" id="select_address" onchange="choose_address(this.value)">		
				</select>
			</div>
		</div>
		{% csrf_token %}
		{% for field in form.visible_fields %}	
		 <!-- убрать одну d in hiddden что скрыть поля  -->
		    {% if field.name  in hidden %} 
		    	<div class="hidden_fields">
		    	{{ field.label_tag }}{{ field }}
		    	</div>
		    {% else %}
		    <div class="form-group row">
		        {{ field.errors }}
		        <div class="col-sm-2 col-form-label">{{ field.label_tag }}</div> 
		        <div class="col"> {{ field }} </div>
		    </div>
		    {% endif %}
		{% endfor %}

		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
					<input type="submit" class="mbtn btn btn-primary" values="submit" onclick="send_message()">
				</form>
            
        </div>
{% endblock %}