{% extends "base.html" %}
{% block context %}

<style type="text/css">
	.h4.collapsed:before{
     	content:"+"
	}
	.h4:before{
     	content:"-";
	}
	.doc-separator{
		border-top: 2px solid rgba(225,225,0,1)
	}

	.doc-li{
		padding: 5px;
		background-color: white;
		border-radius: 10px;
	}
	@media (max-width: 980px){
		.doc-button{
			display: none;
		}
	}
</style>
<div class='main-area'>
    <div class = 'container'>
			<h2>Электронная медицинская карта</h2>
			<!-- БЛОК Список документов-->
			<a class='h4 collapsed'  href="#doc-list" data-toggle="collapse">
				<i class="fas fa-folder"></i>
				Список Документов
				</a>
			<ul id="doc-list" class="collapse">

			</ul>

			<br>
			<a class='h4 collapsed' href="#prescribe-list" data-toggle="collapse">
			  <i class="fas fa-folder"></i>
			  Назначение лекарственных препаратов
			</a>
			<ul id='prescribe-list' class="collapse">

			</ul>

    </div>
</div>


<script type="text/javascript">

function open_new(e){
	var link = $(e).attr('href');
	var content = $(link).html();

	var newWindow = window.open();
	newWindow.document.write("<html><head></head><body>"+content+"</body></html>");
	newWindow.document.close();
};

window.onload = function(){
	load_data();
};

function Query_NS(my_method, for_request, name_service, url_serv, callback){
    var token = '{{ csrf_token }}';

    var responce = $.ajax(
			{
        async:false,
        method:my_method,
        url:url_serv,

        headers: { "X-CSRFToken": token },

        data:for_request,
        success: function(msg)
        {callback(msg);},
        error: function(jqXHR, textStatus, errorThrown)
        {
					console.log(JSON.stringify(jqXHR));
          //error in msg
          callback("error");
        }

      }).responceText;
};

function request_data(service, url_serv)
{
	//Получение снилса
	 var e = document.getElementById("pacient");
	 var dataFromRequest = {};
	 dataFromRequest.snils = e.options[e.selectedIndex].value;

	 var ajax_info = "";
	 Query_NS("POST", dataFromRequest, service, url_serv, function (info){
				ajax_info = info;
	 });

	 if(ajax_info == "error")
	 {
			alert("Сервис временно недоступен.Приносим извенения за предоставленные неудобства.");
			return [];
	 }
	 else
	 {
			return $.parseJSON(ajax_info);
	 }
};

function load_data(){
	var docs = request_data('EHMK.ListDocuments','get-docs-list');
	var drug_records = request_data('EHMK.PrescriptionDrugs','get-drugs-list');

	add_docs(docs);
	add_drug(drug_records);
};

function add_docs(docs){
	var main_ul = document.getElementById('doc-list');

	if (docs.length == 0){
		var newLi = document.createElement('li');
		newLi.innerHTML +='<P>Список пуст</P>';
		main_ul.appendChild(newLi);
	}
	else {
		for (var i = 0; i < docs.length; i++) {

			 //console.log(docs[i]);
			 var newLi = document.createElement('li');//создание элемента списка
			 newLi.className='list-unstyled'; //определения класса

			 newLi.innerHTML +='<div><i class="fas fa-file"></i>'            +
												 ' Название документа:' +  docs[i].namedoc    +
												 ' Дата:' +  docs[i].datedoc                  +
												 ' <div id = "main-data"> '               +
												 ' ФИО:' + docs[i].FAM + ' ' + docs[i].NAME + ' ' + docs[i].OTH  +
												 ' Пол:' + docs[i].sex + ' ' + ' Дата рождения:' +  docs[i].dater +
												 ' СНИЛС:' + docs[i].SNILS + ' </div></a>';

			 if ( docs[i].chtml != undefined )
			 {
				 newLi.innerHTML +=  ' <a class="doc-button h5 collapsed" ' +
				                    ' href="#doc-li-' + i + '" data-toggle="collapse">' +
														' Документ		</a><a class="h5" href="#doc-li-' + i + '"' +
	         									' onclick = "open_new(this);">Открыть в новом окне</a> ' +
														' <div class = "doc-li collapse" id = "doc-li-' + i + '">' +
														  docs[i].chtml + '</font></font></body></div></div></br>';
			 }
			 newLi.innerHTML += '</br>'
			 //Добавление в список нового элемента
			 main_ul.appendChild(newLi);
		}
	}
};

function add_drug(drug_records){
	var main_ul = document.getElementById('prescribe-list');
  if (drug_records.length == 0){
		var newLi = document.createElement('li');
		newLi.innerHTML +='<P>Список пуст</P>';
		main_ul.appendChild(newLi);
	}
	else {
		for (var i = 0; i < drug_records.length; i++) {
			 console.log(drug_records[i]);
			 var newLi = document.createElement('li');//создание элемента списка
			 newLi.className ='list-unstyled'; //определения класса

			 newLi.innerHTML +='<a class="h5 collapsed" href="#prescribe-li-' + i + '"' +
			                   'data-toggle="collapse"><i class="fas fa-file"></i>' +
	       				 				 ' Врач:' +  drug_records[i].dol +
												 ' Дата назначения:' + drug_records[i].datedoc +
												 ' Препарат:' + drug_records[i].name + '</a>' +
												 '<div id = "prescribe-li-' + i + '" class="collapse">' + '<br>' +
												 'Доп.название:' + drug_records[i].lat_name + '<br>' +
									       'Метод введения:' +  drug_records[i].MetodVvedenia + '<br>' +
									       'Приём:' + drug_records[i].priem + '<br>' +
									       'Красность приёма:' + drug_records[i].kratnost + '<br>' +
									       'Дозировка:' + drug_records[i].doze + '<br>' +
									       'Время применения:' + drug_records[i].kolday + '<br>' +
									       '</div></br></br>';

				main_ul.appendChild(newLi);
			}
	}


};

function clear_ul(){
	var myNode = document.getElementById("doc-list");
    while (myNode.firstChild) {
    myNode.removeChild(myNode.firstChild);
	}

	var myNode = document.getElementById("prescribe-list");
    while (myNode.firstChild) {
    myNode.removeChild(myNode.firstChild);
	}
};

function update(){
	setTimeout(function todo(){
		clear_ul();
		load_data();
	});
};
</script>
{% endblock %}
