{% extends "base.html" %}
{% block context %}

<style type="text/css">
	 #loader{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }
    .loading-gif{
      display: inline-block;
      height: 300px;
      width: 300px;

    }

	.h4.collapsed:before{
     	content:"+"
	}
	.h4:before{
     	content:"-";
	}

	.doc-separator{
		border-top: 2px solid rgba(225,225,0,1)
	}

	.doc-li{
		padding: 5px;
		background-color: white;
		border-radius: 10px;
	}
	@media (max-width: 980px){
		.doc-button{
			display: none;
		}
	}
</style>
<div class='main-area'>
    <div class = 'container'>
    {% load static %}
    <div id='loader'><img class='loading-gif align-self-center' src='{% static 'loading.gif' %}'></div>
			<h2>Электронная медицинская карта</h2>
			<!-- БЛОК Список документов-->
			<a class='h4 collapsed'  href="#doc-list" data-toggle="collapse">
				<i class="fas fa-folder"></i>
				Список Документов
				</a>
			<ul id="doc-list" class="collapse">

			</ul>

			<br>
			<a class='h4 collapsed' href="#prescribe-list" data-toggle="collapse">
			  <i class="fas fa-folder"></i>
			  Назначение лекарственных препаратов
			</a>
			<ul id='prescribe-list' class="collapse">

			</ul>

    </div>
</div>


<script type="text/javascript">

function open_new(e){
	var link = $(e).attr('href');
	var content = $(link).html();

	var newWindow = window.open();
	newWindow.document.write("<html><head></head><body>"+content+"</body></html>");
	newWindow.document.close();
};

window.onload = function(){
	fadeIn_Process_fadeout();
};

function fadeIn_Process_fadeout(){
	$('#loader').fadeIn("slow", function(){
		load_data();
		$("#loader").fadeOut("slow", function() { });

	});
}

function Query_NS(my_method, for_request, name_service, url_serv, callback){
    var token = '{{ csrf_token }}';

    var responce = $.ajax(
			{
        async:false,
        method:my_method,
        url:url_serv,

        headers: { "X-CSRFToken": token },

        data:for_request,
        success: function(msg)
        {callback(msg);},
        error: function(jqXHR, textStatus, errorThrown)
        {
					console.log(JSON.stringify(jqXHR));
          //error in msg
          callback("error");
        }

      }).responceText;
};

function request_data(service, url_serv)
{
	//Получение снилса
	 var e = document.getElementById("pacient");
	 var dataFromRequest = {};
	 dataFromRequest.snils = e.options[e.selectedIndex].value;

	 var ajax_info = "";
	 Query_NS("POST", dataFromRequest, service, url_serv, function (info){
				ajax_info = info;
	 });

	 if(ajax_info == "error")
	 {
			alert("Сервис временно недоступен.Приносим извенения за предоставленные неудобства.");
			return [];
	 }
	 else
	 {
			return $.parseJSON(ajax_info);
	 }
};

function categorize_docs(docs){
	categories = {};
	for(var element in docs){

		/*Если такой группы еще нет в categories*/
		if(!(docs[element].nameGroup in categories)){

			/*Если nameGroup пустой, то объявить категорию как "прочее"*/
			if(docs[element].nameGroup == undefined){
				categories['Прочее'] = [];	
			}
			/*Иначе по названию группы*/
			else{
				categories[docs[element].nameGroup] = [];
			}
		}

		if (docs[element].nameGroup == undefined){
				categories['Прочее'].push(docs[element]);	
		}

		else{
			categories[docs[element].nameGroup].push(docs[element]);
		}
	}
	return categories;
}

function add_categorized_docs(categorized_doc){
	var doc_ul = $('#doc-list');
	if(Object.keys(categorized_doc).length == 0){
		doc_ul.append('<li> Список документов пуст</li>');
	}
	else{
		for(var key in categorized_doc){
			var current_category_a = $('<a>', {'class': 'h4 collapsed', 'data-toggle': 'collapse',
												 'href': '#doc-'+key} );
			current_category_a.append(key);

			doc_ul.append(current_category_a);

			var current_category_ul = $('<ul>', {'class': 'collapse','id': 'doc-'+key });
				
					for(var doc in categorized_doc[key]){
						var current_doc = categorized_doc[key][doc];
						var current_doc_element = '<li class= "list-unstyled">' + 
							'<div><i class="fas fa-file"></i>'            +
							' Название документа:' +  current_doc.namedoc    +
							' Дата:' +  current_doc.datedoc                  +
							' <div id = "main-data"> '               +
							' ФИО:' + current_doc.FAM + ' ' + current_doc.NAME + ' ' + current_doc.OTH  +
							' Пол:' + current_doc.sex + ' ' + ' Дата рождения:' +  current_doc.dater +
							' СНИЛС:' + current_doc.SNILS + ' </div>';
							if ( current_doc.chtml != undefined )
			 				{
				 				current_doc_element +=  ' <a class="doc-button h5 collapsed" ' +
				                    ' href="#doc-li-'+ key + '-' + doc + '" data-toggle="collapse">' +
														' Документ		</a><a class="h5" href="#doc-li-'+ key + '-' + doc + '"' +
	         									' onclick = "open_new(this);">Открыть в новом окне</a> ' +
														' <div class = "doc-li collapse" id = "doc-li-'+ key + '-' + doc + '">' +
														  current_doc.chtml + '</font></font></body></div></div></br>';
							}
							current_doc_element+='</li>';
							current_category_ul.append(current_doc_element);
						}
			doc_ul.append(current_category_ul);
			
			doc_ul.append('<br>');		

		}
	}
}

function load_data(){
	var docs = request_data('EHMK.ListDocuments','get-docs-list');
	var drug_records = request_data('EHMK.PrescriptionDrugs','get-drugs-list');


	var docs_cats = categorize_docs(docs);
	add_categorized_docs(docs_cats);
	//add_docs(docs);
	add_drug(drug_records);
};

function add_docs(docs){
	var main_ul = document.getElementById('doc-list');

	if (docs.length == 0){
		var newLi = document.createElement('li');
		newLi.innerHTML +='<P>Список пуст</P>';
		main_ul.appendChild(newLi);
	}
	else {
		for (var i = 0; i < docs.length; i++) {

			 //console.log(docs[i]);
			 var newLi = document.createElement('li');//создание элемента списка
			 newLi.className='list-unstyled'; //определения класса

			 newLi.innerHTML +='<div><i class="fas fa-file"></i>'            +
												 ' Название документа:' +  docs[i].namedoc    +
												 ' Дата:' +  docs[i].datedoc                  +
												 ' <div id = "main-data"> '               +
												 ' ФИО:' + docs[i].FAM + ' ' + docs[i].NAME + ' ' + docs[i].OTH  +
												 ' Пол:' + docs[i].sex + ' ' + ' Дата рождения:' +  docs[i].dater +
												 ' СНИЛС:' + docs[i].SNILS + ' </div></a>';

			 if ( docs[i].chtml != undefined )
			 {
				 newLi.innerHTML +=  ' <a class="doc-button h5 collapsed" ' +
				                    ' href="#doc-li-' + i + '" data-toggle="collapse">' +
														' Документ		</a><a class="h5" href="#doc-li-' + i + '"' +
	         									' onclick = "open_new(this);">Открыть в новом окне</a> ' +
														' <div class = "doc-li collapse" id = "doc-li-' + i + '">' +
														  docs[i].chtml + '</font></font></body></div></div></br>';
			 }
			 newLi.innerHTML += '</br>'
			 //Добавление в список нового элемента
			 main_ul.appendChild(newLi);
		}
	}
};

function add_drug(drug_records){
	var main_ul = document.getElementById('prescribe-list');
  if (drug_records.length == 0){
		var newLi = document.createElement('li');
		newLi.innerHTML +='<P>Список пуст</P>';
		main_ul.appendChild(newLi);
	}
	else {
		for (var i = 0; i < drug_records.length; i++) {
			 console.log(drug_records[i]);
			 var newLi = document.createElement('li');//создание элемента списка
			 newLi.className ='list-unstyled'; //определения класса

			 newLi.innerHTML +='<a class="h5 collapsed" href="#prescribe-li-' + i + '"' +
			                   'data-toggle="collapse"><i class="fas fa-file"></i>' +
	       				 				 ' Врач:' +  drug_records[i].dol +
												 ' Дата назначения:' + drug_records[i].datedoc +
												 ' Препарат:' + drug_records[i].name + '</a>' +
												 '<div id = "prescribe-li-' + i + '" class="collapse">' + '<br>' +
												 'Доп.название:' + drug_records[i].lat_name + '<br>' +
									       'Метод введения:' +  drug_records[i].MetodVvedenia + '<br>' +
									       'Приём:' + drug_records[i].priem + '<br>' +
									       'Красность приёма:' + drug_records[i].kratnost + '<br>' +
									       'Дозировка:' + drug_records[i].doze + '<br>' +
									       'Время применения:' + drug_records[i].kolday + '<br>' +
									       '</div></br></br>';

				main_ul.appendChild(newLi);
			}
	}


};

function clear_ul(){
	var myNode = document.getElementById("doc-list");
    while (myNode.firstChild) {
    myNode.removeChild(myNode.firstChild);
	}

	var myNode = document.getElementById("prescribe-list");
    while (myNode.firstChild) {
    myNode.removeChild(myNode.firstChild);
	}
};

function update(){
	setTimeout(function todo(){
		clear_ul();
		fadeIn_Process_fadeout();
	});
};
</script>
{% endblock %}
