{% extends "base.html" %}
{% block context %}

<style type="text/css">
  a.text-primary:link{
    color: blue !important;
  }
</style>
	<!--<h3>Добро Пожаловать</h3>
		Добро пожаловать в Сити 17!
		</br>Сами вы его выбрали или его выбрали за вас — это лучший город из оставшихся.
		</br>Я такого высокого мнения о Сити 17, что решил разместить свое правительство здесь, в Цитадели, столь заботливо предоставленной нашими Покровителями.
		</br>Я горжусь тем, что называю Сити 17 своим домом.
		</br>Итак, собираетесь ли вы остаться здесь, или же вас ждут неизвестные дали, добро пожаловать в Сити 17. Здесь безопасно.
    -->
    <H4>Уважаемый пациент, мы рады приветствовать Вас в "Личном кабинете".</H4>
    <P>Личный кабинет предоставляет Вам следующие возможности:</P>
    <ul>
		<li class= 'list-unstyled'><a href = "{% url 'call-doc' %}" class="text-primary">Вызвать врача на дом</a></li>
		<li class= 'list-unstyled'><a href="{% url 'schedule' %}" class="text-primary">Получить список запланированных мероприятий на ближайшее время</a></li>
		<li class= 'list-unstyled'><a href="{% url 'ehr' %}" class="text-primary">Просмотреть записи своей амбулоторной карты</a></li>
		<li class= 'list-unstyled'><a href="{% url 'ehr' %}" class="text-primary">Просмотреть назначенное Вам лечение</a></li>
		<li class= 'list-unstyled'><a href="{% url 'therapist' %}" class="text-primary">Получить расписание приёма вашего участкового врача</a></li>
		<li class= 'list-unstyled'>Отказаться от записи на приём</li>
    </ul>
    <div>По всем возникшим вопросам пишите в разделе   <a href="{% url 'message' %}" class="text-primary">"Обращение"</a></div>
{% endblock %}
