{% extends "base.html" %}
{% block context %}
	<style type="text/css">
		.hidden_fields{
			display:none;
		}
	</style>

	<form id = "message-form" method = "POST" class = 'message-form'>
		<div class='form-group row'><h2 class='col'>Обращение</h2></div>

		<div id="email" class="hidden_fields">{{ my_email }}</div>

		{% csrf_token %}
		{% for field in form.visible_fields %}
		 <!-- убрать одну d in hiddden что скрыть поля  -->
		    {% if field.name  in hidden %}
		    	<div class="hidden_fields">
		    	{{ field.label_tag }}{{ field }}
		    	</div>
		    {% else %}
		    <div class="form-group row">
		        {{ field.errors }}
		        <div class="col-sm-2 col-form-label">{{ field.label_tag }}</div>
		        <div class="col"> {{ field }} </div>
		    </div>
		    {% endif %}
		{% endfor %}

		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<button type="submit" class="btn btn-primary" onclick ="form_submit()">Отправить</button>
	</form>
	<!--<input type="button" class="mbtn btn btn-primary" values="my_buttom"
			onclick="send_message()"	> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>			
	<script type="text/javascript">



		function generate_id(str) {
  			return str.replace(/[xy]/g, function(c) {
    				var r = Math.random() * 16 | 0;
   					 return (c == 'x' ? r : (r & 0x3 | 0x8 )).toString(16);
 					 });

				}

		function min_ten(value){
			return (value < 10) ? "0" + value: value;
		}

		function return_date(){
			 var now = new Date();

			 var str_time =   now.getFullYear()  + "-"
			 		+  min_ten(now.getMonth  ()  + 1)  + "-"
			 		+  min_ten(now.getDate   ()) + " "
			 		+  min_ten(now.getHours  ()) + ":"
			 		+  min_ten(now.getMinutes());

    		 return str_time;
	    }


		function form_submit(){

				console.log("submitting form!");
				if(check_form()){
					data = collect_data();
					Query("send-message", data);
				}
			}


		function check_form(){
			for(var element in elements_to_check){
				if(document.getElementById(element).reportValidity() == false){
					return false;
				}
			}

			return true;
		}

		function collect_data(){
			var collection_object = {};

			collection_object.snils = $('#pacient').val();
			collection_object.recipient = document.getElementById('recipient').value;
			collection_object.phone = document.getElementById('phone').value;
			collection_object.subject = document.getElementById('subject').value;
			collection_object.message = document.getElementById('message').value;
			collection_object.date = return_date();
			collection_object.id_doc_site	=   generate_id('xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx');
			console.log(collection_object);
			return collection_object;


		}


		function Query(url, for_request)
	  	{
	      // var for_request = {snils:"184-434-687 96",date_begin:"2017-08-10",
	      //    date_end:"2017-10-10"     };
	      
	    

	    var token = '{{ csrf_token }}';
	    
	    var responce = $.ajax({
	        async:false,
	        method:'POST',
	        url: url,        
	        
	        headers: { "X-CSRFToken": token },
	              
	        data:for_request,       
	      
	                success: function(msg)
	        {        
	         	alert(msg);
	         	for(var element in elements_to_check)
	         	{
	         		$('#'+element).val('');
	         		$('#'+element).removeClass('is-valid');
	         	}

	        },
	        error: function(jqXHR, textStatus, errorThrown)
	        {
	          console.log(JSON.stringify(jqXHR));
	          //error in msg
	          callback("error");          
	        }
	      
	      }).responceText;    
	  }

	function check_element_length_greater_than(element){
			console.log( $(element) );
					console.log( elements_to_check[$(element).attr('id')] );
				  if ($(element).val().length >=elements_to_check[$(element).attr('id')])
					{
						$(element).removeClass('is-invalid');
						$(element).addClass('is-valid');
					}
					else
					{
						$(element).removeClass('is-valid');
						$(element).addClass('is-invalid');
					}			
		}	




		//var elements_to_check = [$('#recipient'), $('#subject'), $('#message'), $('#phone') ]
		var elements_to_check = {
			'recipient': 4 ,
			'subject': 4,
			'message': 10,	
			'phone': 16,			
		}

		function check_validity(){
			
			
		}

		window.onload = function(){
			$("#phone").mask("+0(000)000-00-00", {placeholder: "+7(___)___-__-__"});

			for(var key in elements_to_check)
			{

				$('#'+key).bind('keyup', function() {
					check_element_length_greater_than(this);					
				});

			}

		}




	</script>

{% endblock %}
