{% extends "base.html" %}
{% block context %}
	<style type="text/css">
		.hidden_fields{
			display:none;
		}
	</style>






	<form id = "message-form" method = "POST" class = 'message-form'>
		<div class='form-group row'><h2 class='col'>Обращение</h2></div>

		<div id="email" class="hidden_fields">{{ my_email }}</div>


		{% csrf_token %}
		{% for field in form.visible_fields %}
		 <!-- убрать одну d in hiddden что скрыть поля  -->
		    {% if field.name  in hidden %}
		    	<div class="hidden_fields">
		    	{{ field.label_tag }}{{ field }}
		    	</div>
		    {% else %}
		    <div class="form-group row">
		        {{ field.errors }}
		        <div class="col-sm-2 col-form-label">{{ field.label_tag }}</div>
		        <div class="col"> {{ field }} </div>
		    </div>
		    {% endif %}
		{% endfor %}

		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
		<button type="submit" class="btn btn-primary" onclick ="form_submit()">Отправить</button>
	</form>
	<!--<input type="button" class="mbtn btn btn-primary" values="my_buttom"
			onclick="send_message()"	> -->

	<script type="text/javascript">



		function generate_id(str) {
  			return str.replace(/[xy]/g, function(c) {
    				var r = Math.random() * 16 | 0;
   					 return (c == 'x' ? r : (r & 0x3 | 0x8 )).toString(16);
 					 });

				}

		function min_ten(value){
			return (value < 10) ? "0" + value: value;
		}

		function return_date(){
			 var now = new Date();

			 var str_time =   now.getFullYear()  + "-"
			 		+  min_ten(now.getMonth  ()  + 1)  + "-"
			 		+  min_ten(now.getDate   ()) + " "
			 		+  min_ten(now.getHours  ()) + ":"
			 		+  min_ten(now.getMinutes());

    		 return str_time;
	    }


		function form_submit(){

				console.log("submitting form!");
				if(check_form()){
					data = collect_data();
					send_messages(data, function (info){
						alert(info);
						$('#recipient').val('');
						$('#subject').val('');
						$('#message').val('');
						$('#phone').val('');
					});
				}
			}


		function check_form(){

			if( document.getElementById('recipient').reportValidity() &&
				document.getElementById('subject').reportValidity() &&
				document.getElementById('message').reportValidity() &&
				document.getElementById('phone').reportValidity())
			{
				return true;
			}
			else{

				return false;
			}


		}

		function collect_data(){
			var collection_object = {};

			collection_object.snils = $('#pacient').val();
			collection_object.recipient = document.getElementById('recipient').value;
			collection_object.phone = document.getElementById('phone').value;
			collection_object.subject = document.getElementById('subject').value;
			collection_object.message = document.getElementById('message').value;
			collection_object.date = return_date();
			collection_object.id_doc_site	=   generate_id('xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx');
			console.log(collection_object);
			return collection_object;


		}

		function send_messages(my_data, callback){

			var token = '{{ csrf_token }}';


			console.log("sending via send_message!") // sanity check
		    $.ajax({
		        url : "send-message", // the endpoint
		        type : "POST", // http method
		        headers: { "X-CSRFToken": token },
		        data:my_data, // data sent with the post request

		        // handle a successful response
		        success : function(msg) {
							callback(msg);
		        },

		        // handle a non-successful response
		        error : function(xhr,errmsg,err) {

		            console.log(xhr.responseText);

		        }
		    });
		}







	</script>

{% endblock %}
