{% extends "base.html" %}
{% block context %}
<style type="text/css">

  .date-text:hover{
    background-color: #9D50BB;
    border-radius: 50%;
    color: white;
    cursor: pointer;
  }

  .col{
    text-align: center;
  }

  .date-text{
    width: 24px;
    height: 24px;
  }

  .cal{
    margin: 10px auto;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
    padding: 10px;
  }

  #timepicker{

    height: 400px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
    padding: 10px;
  }
  #timepicker li{
    padding: 20px;
  }
  #timepicker table{

  }


  #timepicker td{
    color: #444444;
    padding: 0px 13px;
  }
  .timepicker-date{
    color: #9D50BB !important;
    font-size: 40px;
    font-family: "Source Code Pro", Courier, monospace !important;
  }
  .date-line{
    font-size: 38px;
    font-family: "Source Code Pro", Courier, monospace !important;
    color: #9D50BB !important;
  }
  .fa-clock{
    color:#9D50BB;
  }

  #timepicker li:hover{
    cursor: pointer;
    background: -moz-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(157,80,187,1)), color-stop(100%, rgba(110,72,170,1)));
    background: -webkit-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
    background: -o-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
    background: -ms-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
    background: linear-gradient(to right, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d50bb', endColorstr='#6e48aa', GradientType=1 );
    border-radius: 5px;

  }
  
  #timepicker li:hover *{
    color: white !important;
  }
  
  #time-list .row{
  	margin: 0px !important;
  }

  .choosen-date{
    background-color: #8360c3;
    color: white;
  }
  .choosen-time{
    background: -moz-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(157,80,187,1)), color-stop(100%, rgba(110,72,170,1)));
      background: -webkit-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
      background: -o-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
      background: -ms-linear-gradient(left, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
      background: linear-gradient(to right, rgba(157,80,187,1) 0%, rgba(110,72,170,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d50bb', endColorstr='#6e48aa', GradientType=1 );
      border-radius: 5px;
  }

  .choosen-time td{
    color: white !important;
  }
  .choosen-time .timepicker-date{
    color: white !important;
  }
  .choosen-time .fa-clock{
    color: white;
  }

  .time-choose{
  	border-radius: 10px;
  }

  .check-appointment-window{

    -webkit-transition: top 1s ease-out 0.5s;
     -moz-transition: top 1s ease-out 0.5s;
     -o-transition: top 1s ease-out 0.5s;
     transition: top 1s ease-out 0.5s;
     display: none;

    position: fixed;
    width: 450px;
    height: 400px;
    left: 50%;
    margin-left: -225px;
    top:50%;
    margin-top: -200px;
    overflow: auto;
    z-index: 4;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
      box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.46);
    padding: 10px;
  }

  .doctor-png{
    height: 150px;
  }

  .red{  	
  	background: #FF595E; /* Old browsers */
	background: -moz-linear-gradient(45deg, #d31027 0%, #ea384d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #d31027 0%,#ea384d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #d31027 0%,#ea384d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d31027', endColorstr='#ea384d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .red *{
  	color:white !important;
  }

  .green{
  	background-color: #CCE2A3;
  }

  .green *{
  	color:black !important;
  }
  .fa-clock{
  	margin:0px;
  }


  .overlay{
    -webkit-transition: top 1s ease-out 0.5s;
     -moz-transition: top 1s ease-out 0.5s;
     -o-transition: top 1s ease-out 0.5s;
     transition: top 1s ease-out 0.5s;
    display: none;
     opacity: 0;
    z-index: 3;
    position: fixed;
    background-color: black;
    opacity: ;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
  }

  #loader{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      text-align: center;
      display: flex;      
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }
    .loading-gif{
      display: inline-block;
      height: 300px;
      width: 300px;

    }

  @media(max-width: 576px){
    .main-area>.container{
      padding-left: 0px;
      padding-right: 0px;
    }
    #calendar{
      width: 100%;
    }
    .cal{
      width: 100%;
    }
    #calendar .row{
        margin: 10px 0px;
      }
    #calendar .col{
        padding: 0px;
      }
    #time-list .col{
      padding: 0px;
    }  
    #timepicker li {
      padding: 20px 0px;
  }
  }

</style>

{% load static %}
<div id='loader'><img class='loading-gif align-self-center' src='{% static 'loading.gif' %}'/></div>

	<div class='main-area'>
            <div class = 'container'>
            	<h2>Расписание участкового врача</h2>

            		<div class="form-group row">
                       <div class="cal cal-container">
                        <div id='calendar'>
                          <div class = 'row month'>
                            <div class='month col prev-month'><h4><</h4></div>
                              <div class ='month col' id='month-name'>
                              Месяц
                              </div>
                            <div class='month col next-month'><h4>></h4></div>

                          </div>
                          <div class="row week">
                            <div class="col">
                            Пн
                            </div>
                            <div class="col">
                            Вт
                            </div>
                            <div class="col">
                            Ср
                            </div>
                            <div class="col">
                            Чт
                            </div>
                            <div class="col">
                            Пт
                            </div>
                            <div class="col">
                            Сб
                            </div>
                            <div class="col">
                            Вс
                            </div>
                          </div>
                          <div id = 'dates-calendar' class = 'row'></div>
                        </div>
                      </div>

                      <div id='timepicker' class = 'cal'>
                        <ul id = 'time-list' class = 'list-unstyled'>
                        	
                        </ul>
                      </div>  <!--timepicker-->
                    </div> <!--form-group row-->

            </div> <!--container-->
    </div> <!--main-area-->


    <script type="text/javascript">

  class Calendar
  {

    constructor(date, calendar){
      this.date = date
      this.calendar = calendar;
      this.months = ['Январь', 'Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];

    }

    daysInMonth(year, month){ //год соответствует и месяц соответствует с нашим
      var a = new Date(year, month, 0).getDate();
      return a;
    }

    getDateDay(year, month, day){ //а вот тут месяцы с нуля почему то
      var thisDate = new Date(year, month, day);
      var a = [6,0,1,2,3,4,5]
      return a[thisDate.getDay()];
    }

    getMonthCalendarString(year, month){

      var firstDay = this.getDateDay(year, month,1);
      var start = [];
      for (var i=0;i<firstDay;i++){
        start.push('&nbsp');
      }
      var dim = this.daysInMonth(year, month+1);

      for(var i=1;i<=dim;i++){
        start.push(i);
      }

      while (start.length % 7 != 0)
      {
        start.push('&nbsp');
      }

      return start;
    }



    ifEvent(date, events){
      for(var i=0; i<events.length; i++)
      {
        var b=events[i]['date'];
        var a=date;
        if (this.sameDay(a,b)){
          return true;

        }
      }
      return false;

    }

    drawCalendar(events){
      var dates = this.getMonthCalendarString(this.date.getFullYear(), this.date.getMonth());
      var currentRow = $('<div>', {'class': 'row dates'});

      var counter = 0;
      var currentPosition=$('<div>', {'class': 'dates col '});
      $("#month-name").text(this.months[this.date.getMonth()]);
      for(var i =0; i< dates.length; i++){
        currentPosition=$('<div>', {'class': 'dates col d-flex justify-content-center'});
        if(i%7==5 || i%7==6){
          currentPosition.addClass('weekend');
        }
        if(Number.isInteger(dates[i]))
        {
          if (this.ifEvent(new Date(this.date.getFullYear(), this.date.getMonth(), dates[i]), events))
          {
            currentPosition.addClass('event');
          }
        }

        currentPosition.html("<div class = 'date-text'>"+dates[i]+"</span>");
        currentRow.append(currentPosition);
        if(i%7==6)
        {
          this.calendar.append(currentRow);
          currentRow = $('<div>', {'class': 'row dates'});
        }

      }
    }


    addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    drawEvents(eventsList){
      var eList = $('#task')
      eList.empty();
      for(var row in eventsList){
        var l = this.eventLiCreator(eventsList[row]);
        eList.append(l);
      }
    }

    sameDay(d1, d2) {
      return d1.getFullYear() === d2.getFullYear() &&
        d1.getMonth() === d2.getMonth() &&
        d1.getDate() === d2.getDate();
    }

    eventLiCreator(event){
      var row="<li class='row'>";
      row+="<div class='col-2'><ul class='list-unstyled'><li class='grey-li'></li></ul></div>";
      row+="<div class='col'>";
        row+="<ul class='list-unstyled'>";
          row+="<li>"+event['date'].getDate()+" "
                +this.months[event['date'].getMonth()]+' '
                +event['date'].getFullYear()+' '
                 +this.addZero(event['date'].getHours())+':'
                  +this.addZero(event['date'].getMinutes())+ "</li>";
          row+="<li class='grey-li'>"+event['text']+"</li>";
        row+="</ul>";
      row+="</div>";

      row+="</li>";
      row+="<hr class='grey-li'>";
      return row;


    }

    getNextMonth(){
      var a = this.date.getMonth();
      if(a==11){
        this.date = new Date(this.date.getFullYear()+1, 0, 1);

      }
      else{
        var m = this.date.getMonth()+1;
        this.date = new Date(this.date.getFullYear(), m, 1);
        var d = this.date;
      }
      $('.dates').remove();
          }

    getPreviousMonth(){
      if(this.date.getMonth()==0){
        this.date = new Date(this.date.getFullYear()-1, 11, 1);
      }
      else{
        this.date = new Date(this.date.getFullYear(), this.date.getMonth()-1, 1);
      }
      $('.dates').remove();
          }

  }

  function Query(url, for_request, callback)
  {
      // var for_request = {snils:"184-434-687 96",date_begin:"2017-08-10",
      //    date_end:"2017-10-10"     };



    var token = '{{ csrf_token }}';

    var responce = $.ajax({
        async:false,
        method:'POST',
        url: url,

        headers: { "X-CSRFToken": token },

        data:for_request,

        success: function(msg, status, xhr)
        {        	
        		callback(msg);       	
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
          	alert(jqXHR.responseText);
        }

      }).responceText;
  }



var clicked_object = {'date': null};
  function change_clicked(previously_clicked, currently_clicked, class_name){

    // Чтобы всегда была выбрана только одна дата или ввремя

    if (clicked_object[previously_clicked]!= null)
    {
      $(clicked_object[previously_clicked]).removeClass(class_name);
    }
    $(currently_clicked).addClass(class_name);
    clicked_object[previously_clicked] = currently_clicked;
  }


  function get_times(year, month, date){
    var ajax_responce = null;
    if(date<10) { date = '0' + date; }
    if((month+1)<10) { month = '0' + (month+1); }
    else 
    {
    	month = month +1;
    }
    Query('get-dictrict-doctor-schedule',
      {"snils": $('#pacient').val(), "date": year+'-'+month+'-'+date },
      function(msg)
      {
        ajax_responce = msg;
      });
    
    return JSON.parse(ajax_responce);
  }


  function assign_time(time, date)
  {
	var time_list = $('#time-list');

    var weekday = ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'];
		$(time_list).empty();


    if(time.length == 0 ){
      $(time_list).append('<li>На текущую дату нет расписания</li>');
    }
    else
    {
      for(var i=0;i<time.length; i++)
      {


      		
  			var li='<li class = "time-choose '; if(time[i].pacient.length>0){li+='red';} 
            	li += '"><div class="row">';
                li +=  	'<div class="col d-flex align-items-center justify-content-center timepicker-date">'+date.getDate()+'</div>';
                li +=         '<div class="col d-flex align-items-center justify-content-center">';
                li +=        		'<div class="row">';
                li +=         				'<div class="col">'+cal.months[date.getMonth()]+'</div>';
                li +=         				'<div class="w-100"></div>';
                li +=         				'<div class="col">'+weekday[date.getDay()]+'</div>';
                li +=         			'</div>';
                li +=         		'</div>';                        		
                li +=         		'<div class="col d-flex align-items-center justify-content-center date-line">';
                li +=         			time[i].priem_time;
                li +=         		'</div>';
      			li += 			'</div>'; 
      			li += 		'</li>';	

            $(time_list).append(li);
  		} //for
    } // else

  } //assign_time

  	function date_click(e){

      $("#loader").fadeIn("slow", function() { 
        $('#time-list').empty();
        change_clicked('date', e.target, 'choosen-date');

        var times = get_times(cal.date.getFullYear(), cal.date.getMonth(), $(e.target).text());
        var date = new Date(cal.date.getFullYear(), cal.date.getMonth(), $(e.target).text());
        assign_time(times, date);

        $("#loader").fadeOut("slow", function() { });

      });
  		

  	}
    	window.onload = function(){
        $("#loader").fadeOut("slow", function() { });
    	  var current = new Date();
	      current.setHours(0,0,0,0)

	      cal = new Calendar(current, $('#calendar'));
	      var events =  [];
	      cal.drawCalendar(events);

	      $('.prev-month').click(function(){
	        cal.getPreviousMonth();
	        cal.drawCalendar([]);
	        $('.date-text').on('click', function(e){date_click(e);});
	      }); //prev-month

	      $('.next-month').click(function(){
	        cal.getNextMonth();
	        cal.drawCalendar([]);
	        $('.date-text').on('click', function(e){date_click(e);});
	      }); //next-month

        $('.date-text').on('click', function(e){date_click(e);});

        $('#timepicker').mCustomScrollbar({theme: "dark"});
    	}
    </script>
{% endblock %}
