{% extends "baselogin.html" %}
{% block form %}

	<style type="text/css">
		.form{
	      display: inline-block;
	    }
    	input{
    		width:100%;
    	}

    	button:hover{
    		background-color: #a2ed84; 
    	}

    	
    	.line{
    		margin-top: 20px;
    	}
    	.errorlist{
    		max-width: 428px;
    	}

	</style>
	<div class='form'>
		<h3>Регистрация в личном кабинете</h2>

		
						{% if next %}
						    {% if user.is_authenticated %}
							    Your account doesn't have access to this page. To proceed,
							    please login with an account that has access.
						    {% else %}
						    	Please login to see this page.
						    {% endif %}
						{% endif %}
		<form method="post" class="text-center">
			{% csrf_token %}
			  	
			      
			      <div class="line input-group mb-2">
			        
			          
			        
			        {{ form.name }}
			        
			    	<small class = 'red'> {{form.name.errors}} </small>
			      </div>

			      
			      <div class="line input-group mb-2">
			        
			        {{ form.surname }}
			        
			      	<small class = 'red'> {{form.surname.errors}} </small>
			      </div>
			    


			<div class="line input-group mb-2">
			        
			        {{ form.snils }}
			        
					
			</div>
			<small class = 'red'> {{form.snils.errors}} </small>
			

			<div class="line input-group mb-2">
			        
			        {{ form.telephone }}
			    
				
			</div>
			<small class = 'red'> {{form.telephone.errors}} </small>    
			<div class="line input-group mb-2">
			        
			        {{ form.regcode }}
			    
				
			</div>
				<small class = 'red'> {{form.regcode.errors}} </small>    

			<div class = 'line row'>
			  	<div class="form-group col">
					
					{{ form.password1 }}

								    
				</div>
				
				<div class="form-group col">
					
					{{ form.password2 }}

								    
				</div>		
			</div>
			<div class='line row'>
				<div class="form-group col">
					<small class = 'red'> {{form.password1.errors}} </small>
					<small class = 'red'> {{form.password2.errors}} </small>
				</div>	
			</div>
				





		  <button type="submit">Зарегистрироваться</button>
		</form>
	</div>	
{% endblock %}