<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
    <!--{{answer}}-->

    {% for an in answer %}
    {{an.id}}  {{an.complaints}} {{an.patient}}
    </br>

    {% endfor %}


</body>
</html>

<h2>Электронная медицинская карта</h2>
<!-- БЛОК Список документов-->
<a class='h4 collapsed'  href="#doc-list" data-toggle="collapse">
  <i class="fas fa-folder"></i>
  Список Документов
</a>

{% if docs|length != 0 %}
<ul id="doc-list" class="collapse">
<!--
Нужно уточнить занчение следуюших полей у ЕН
<div>???:{{ doc.kratnostDayDayChet }}</div></br>
<div>???:{{ doc.edizm }}</div></br>
<div>???:{{ doc.name_otkaz }}</div></br>
<div>???:{{ doc.cito }}</div></br>
<div>???:{{ doc.komplex }}</div></br>
<div>???:{{ doc.kratnostDayKoef }}</div></br>
<div>???:{{ doc.kratnostKoef }}</div></br>
<div>???:{{ doc.kratnostDayDayNeChet }}</div></br>
-->
  {% for doc in docs %}
  <li class='list-unstyled'><i class="fas fa-file"></i>

      Название документа:{{ doc.namedoc }}
      Дата:{{ doc.datedoc }}


    <div id = 'main-data'>
      ФИО:{{ doc.FAM }} {{ doc.NAME }} {{ doc.OTH }}
      Пол:{{ doc.sex }} Дата рождения:{{ doc.dater }} СНИЛС: {{ doc.SNILS }}

    </div>
    </a>

    <div>
      {% if doc.chtml|length != 0 %}
        <a class='doc-button h5 collapsed' href="#doc-li-{{forloop.counter}}" data-toggle="collapse">
        Документ
        </a>
        <a class='h5' href="#doc-li-{{forloop.counter}}" onclick = 'open_new(this);'>Открыть в новом окне</a>
      <div class = 'doc-li collapse' id = 'doc-li-{{forloop.counter}}'>

        {% autoescape off %}
          {{ doc.chtml }}
      {% endautoescape %}
        </font></font></body>
      </div>
      {% endif%}
    </div>

  </li></br>
  {% endfor %}
</ul>

{% else %}
  <p> Список пуст </p>
{% endif%}

<!--Конец Списка документов-->

<!-- БЛОК Назначение -->
<br>
<a class='h4 collapsed' href="#prescribe-list" data-toggle="collapse">
  <i class="fas fa-folder"></i>
  Назначение лекарственных препаратов
</a>

   {% if drug_records|length != 0 %}
<ul id='prescribe-list' class="collapse">
  {% for record in drug_records %}
  <li  class='list-unstyled'>

    <a class='h5 collapsed' href="#prescribe-li-{{forloop.counter}}" data-toggle="collapse"><i class="fas fa-file"></i>
      Врач:{{ record.dol }}
      Дата назначения:{{ record.datedoc }}
      Препарат:{{ record.name }}
    </a>

    <div id = 'prescribe-li-{{ forloop.counter }}' class='collapse'>
    <br>
      Доп.название:{{ record.lat_name }}<br>
      Метод введения:{{ record.MetodVvedenia }}<br>
      Приём:{{ record.priem }}<br>
      Красность приёма:{{ record.kratnost }}<br>
      Дозировка:{{ record.doze }}<br>
      Время применения:{{ record.kolday }}<br>
    </div>
<!--
Нужно уточнить занчение следуюших полей у ЕН
<div>???:{{ record.kratnostDayDayChet }}</div></br>
<div>???:{{ record.edizm }}</div></br>
<div>???:{{ record.name_otkaz }}</div></br>
<div>???:{{ record.cito }}</div></br>
<div>???:{{ record.komplex }}</div></br>
<div>???:{{ record.kratnostDayKoef }}</div></br>
<div>???:{{ record.kratnostKoef }}</div></br>
<div>???:{{ record.kratnostDayDayNeChet }}</div></br>
-->
  </li></br></br>
  {% endfor %}
</ul>
{% else %}
  <p> Список пуст </p>
{% endif%}
