{% extends "base.html" %}
{% block context %}
  <style type="text/css">
    #loader{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }
    .loading-gif{
      display: inline-block;
      height: 300px;
      width: 300px;

    }

    .event{
      position: relative;
    }
    .event:after{
      position: absolute;
      top: 20px;
      left:50%;
      margin-left: -5px;
      content: '';
      
      content: '';

       
       width: 10px;
       height: 10px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       background-color: #FB2368;

    }

    #calendar>.row>.col{
      text-align: center;
    }
    #task>li{
      padding-left: 20px;
    }
    #task>li>span{
    }
    #task>li:hover{
      
    }
    .grey-li{
      color:#686868;
    }
    .task{
      margin: 10px 0px;
    }
    @media (max-width: 768px){
      .task{
        width: 100%;
      }
    }
  </style>
  {% load static %}
  <div id='loader'><img class='loading-gif align-self-center' src='{% static 'loading.gif' %}'></div>
  <div class='data row d-flex justify-content-center '>
            <div class="data cal task"  id="task-div">
              <ul id="task">
              </ul>
            </div>


            <div class="data cal  task">
              <div id='calendar'>
                <div class = 'row month'>
                  <div class='month col prev-month'><h4><</h4></div>
                    <div class ='month col' id='month-name'>
                    Месяц
                    </div>
                  <div class='month col next-month'><h4>></h4></div>

                </div>
                <div class="row week">
                  <div class="col">
                  Пн
                  </div>
                  <div class="col">
                  Вт
                  </div>
                  <div class="col">
                  Ср
                  </div>
                  <div class="col">
                  Чт
                  </div>
                  <div class="col">
                  Пт
                  </div>
                  <div class="col">
                  Сб
                  </div>
                  <div class="col">
                  Вс
                  </div>
                </div>
                <div id = 'dates-calendar' class = 'row'></div>
              </div>
            </div>
          </div>

          <script type="text/javascript">

class Calendar 
  {

    constructor(date, calendar){
      this.date = date
      this.calendar = calendar;
      this.months = ['Январь', 'Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];
      
    }

    daysInMonth(year, month){ //год соответствует и месяц соответствует с нашим
      var a = new Date(year, month, 0).getDate();      
      return a;
    }

    getDateDay(year, month, day){ //а вот тут месяцы с нуля почему то
      var thisDate = new Date(year, month, day);
      var a = [6,0,1,2,3,4,5]
      return a[thisDate.getDay()];
    }

    getMonthCalendarString(year, month){

      var firstDay = this.getDateDay(year, month,1);
      var start = [];
      for (var i=0;i<firstDay;i++){
        start.push('&nbsp');
      }
      var dim = this.daysInMonth(year, month+1);
      
      for(var i=1;i<=dim;i++){
        start.push(i);        
      }

      while (start.length % 7 !=0)
      {
        start.push('&nbsp');
      }

      return start;
    }



    ifEvent(date, events){
      for(var i=0; i<events.length; i++)
      {
        var b=events[i]['date'];
        var a=date;
        if (this.sameDay(a,b)){
          return true;

        }
      }
      return false;

    }

    drawCalendar(events){   
      var dates = this.getMonthCalendarString(this.date.getFullYear(), this.date.getMonth()); 
      var currentRow = $('<div>', {'class': 'row dates'});
      
      var counter = 0;
      var currentPosition=$('<div>', {'class': 'col'});
      $("#month-name").text(this.months[this.date.getMonth()]);
      for(var i =0; i< dates.length; i++){
        currentPosition=$('<div>', {'class': 'col'});
        if(i%7==5 || i%7==6){
          currentPosition.addClass('weekend');
        }
        if(Number.isInteger(dates[i]))
        {
          if (this.ifEvent(new Date(this.date.getFullYear(), this.date.getMonth(), dates[i]), events))
          {
            currentPosition.addClass('event');
          }
        }        
    
        currentPosition.html(dates[i]);   
        currentRow.append(currentPosition);
        if(i%7==6)
        {
          this.calendar.append(currentRow);
          currentRow = $('<div>', {'class': 'row dates'});
        }       

      }
    }


    addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    drawEvents(eventsList){
      var eList = $('#task')
      eList.empty();
      for(var row in eventsList){
        var l = this.eventLiCreator(eventsList[row]);
        eList.append(l);
      }
    }

    sameDay(d1, d2) {
      return d1.getFullYear() === d2.getFullYear() &&
        d1.getMonth() === d2.getMonth() &&
        d1.getDate() === d2.getDate();
    }

    eventLiCreator(event){
      var row="<li class='row'>";
      row+="<div clas='col-2'><ul class='list-unstyled'><li class='grey-li'><i class='fas fa-exclamation-circle'></i></li></ul></div>";
      row+="<div clas='col'>";
        row+="<ul class='list-unstyled'>";
          row+="<li>"+this.months[event['date'].getMonth()]+' '+event['date'].getDate()+"</li>";
          row+="<li class='grey-li'>"+event['text']+"</li>";
          row+="<li class='grey-li'>"+this.addZero(event['date'].getHours())+':'+this.addZero(event['date'].getMinutes())+"</li>";
        row+="</ul>";
      row+="</div>";

      row+="</li>";
      row+="<hr class='grey-li'>";
      return row;
    }

    getNextMonth(events){
      var a = this.date.getMonth();
      if(a==11){
        this.date = new Date(this.date.getFullYear()+1, 0, 1);
        
      }
      else{
        var m = this.date.getMonth()+1;
        this.date = new Date(this.date.getFullYear(), m, 1);
        var d = this.date;
      }
      $('.dates').remove();
      
      this.drawCalendar(events);
      this.drawEvents(events);
    }

    getPreviousMonth(events){
      if(this.date.getMonth()==0){
        this.date = new Date(this.date.getFullYear()-1, 11, 1);
      }
      else{
        this.date = new Date(this.date.getFullYear(), this.date.getMonth()-1, 1);
      }
      $('.dates').remove();
      
      this.drawCalendar(events);
      this.drawEvents(events);
    }
    

  }
    
    
    
    

     
    window.onload = function(){
        $("#sidebar").mCustomScrollbar({
                 theme: "dark"
            });

        $('#task-div').mCustomScrollbar({theme: "dark"});

        $('#sidebarCollapse').on('click', function () {
          // open or close navbar
          $('#sidebar').toggleClass('active');
          $('#content').toggleClass('active');
          // close dropdowns
          $('.collapse.in').toggleClass('in');
          // and also adjust aria-expanded attributes we use for the open/closed arrows
          // in our CSS
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });


      var events = [
        {'date': new Date(2018, 9, 15, 13, 00), 'text': 'Прием у терапевта'},
        {'date': new Date(2018, 9, 18, 11, 30), 'text': 'Прием у кардиолога'},
        {'date': new Date(2018, 9, 20, 14, 15), 'text': 'Прием у стоматолога'},
        {'date': new Date(2018, 9, 21, 10, 40), 'text': 'Прием у проктолога'},
      ];

      var current = new Date();
      current.setHours(0,0,0,0)   
      var weekday = ['Пн', 'Вт','Ср','Чт','Пт','Сб','Вс'];


      console.log('curYear'+current.getYear());
      console.log('curMonth'+current.getMonth());
      console.log('curDate'+current.getDate());
          
      cal = new Calendar(current, $('#calendar'));
      
      
      cal.drawCalendar(events);
      cal.drawEvents(events);

      $('.prev-month').click(function(){
        $("#loader").fadeIn("slow", function(){


            //нужно АСИНХРОННО получить events и передать их 
            var events = [
            {'date': new Date(2018, 9, 15, 13, 00), 'text': 'Прием у терапевта'},
            {'date': new Date(2018, 9, 18, 11, 30), 'text': 'Прием у кардиолога'},
            {'date': new Date(2018, 9, 20, 14, 15), 'text': 'Прием у стоматолога'},
            {'date': new Date(2018, 9, 21, 10, 40), 'text': 'Прием у проктолога'},
          ];


            cal.getPreviousMonth(events);
            $("#loader").fadeOut("slow", function() { });


            }); //fadeIn 
        }); //Click


      $('.next-month').click(function(){
        $("#loader").fadeIn("slow", function(){

          
            //нужно АСИНХРОННО получить events и передать их 
            var events = [
            {'date': new Date(2018, 11, 15, 13, 00), 'text': 'Прием у терапевта'},
            {'date': new Date(2018, 11, 18, 11, 30), 'text': 'Прием у кардиолога'},
            {'date': new Date(2018, 11, 20, 14, 15), 'text': 'Прием у стоматолога'},
            {'date': new Date(2018, 11, 21, 10, 40), 'text': 'Прием у проктолога'},
          ];


            cal.getNextMonth(events);
            $("#loader").fadeOut("slow", function() { });


            }); //fadeIn 
        }); //Click
      $("#loader").fadeOut("slow", function() { });
  
    };
    
    
      
    </script>

{% endblock %}        